@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./font.css");
body {
  @apply bg-palatte-100 text-palatte-500;
  font-family: "Share";
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
* {
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
.ProjectItem_Hide__Border {
  @apply bg-palatte-100 w-pipe-sm absolute md:w-pipe-lg h-1/2;
  left: -5px;
  bottom: -8.5px;
}

.ProjectImage_Border {
  @apply border-palatte-500 border-5 md:border-10;
  min-width: 85px;
  min-height: 85px;
}
.Pipe_Hide {
  @apply w-pipe-sm md:w-pipe-lg bg-palatte-100 absolute top-0;
  left: -5px;
  height: 44px;
}

@media only screen and (min-width: 768px) {
  .Pipe_Hide {
    left: -10px;
    height: 48px;
  }
  .ProjectItem_Hide__Border {
    left: -10px;
    bottom: -11px;
  }
  .ProductImage_Border {
    max-width: 120px;
    max-height: 120px;
  }
}
