@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./font.css");
body {
  @apply bg-palatte-100 text-palatte-500;
  font-family: "Share";
  padding: 0;
  margin: 0;
}
html {
  overflow-x: hidden;
}
* {
  outline: none;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
}
.ProjectItem_Hide__Border {
  @apply bg-palatte-100 w-pipe-sm absolute md:w-pipe-lg h-1/2;
  left: -5px;
  bottom: -8.5px;
}
.ProjectItem_Hide__Border_Type_2 {
  @apply bg-palatte-100 w-pipe-sm absolute md:w-pipe-lg;
  left: -5px;
  bottom: -8.5px;
  height: 23px;
}

.ProjectImage_Border {
  @apply border-palatte-500 border-5  md:border-10;
  min-width: 85px;
  min-height: 85px;
}

@media only screen and (min-width: 1280px) {
  body {
    font-size: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .ProjectItem_Hide__Border_Type_2 {
    left: -10px;
    bottom: -11px;
    height: 24px;
  }
  body {
    font-size: 18px;
  }
  .ProjectItem_Hide__Border {
    left: -10px;
    bottom: -11px;
  }
  .ProductImage_Border {
    max-width: 120px;
    max-height: 120px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 15px;
  background-color: #1e0b00;
  cursor: pointer;
  transform-origin: bottom;
  transform: translateY(-40%);
}
input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  background-color: #1e0b00;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 5px;
  height: 10px;
  background-color: #1e0b00;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  width: 100%;
  cursor: pointer;
  background-color: #aa6239;
  border: 1px solid #1e0b00;
}

input[type="range"]::-ms-fill-lower {
  background-color: #aa6239;
}
input[type="range"]::-ms-fill-upper {
  background-color: #ffe1d0;
}
input[type="range"]::-ms-thumb {
  background-color: #1e0b00;
}

.onshowMenu {
  width: 70vw;
  max-width: 350px;
  height: 100vh;
  min-height: 400px;
  overflow-y: scroll;
}
.onhideMenu {
  width: 0;
  height: 100vh;
  min-height: 400px;
  overflow-y: scroll;
}
.onshowMessages {
  width: 70vw;
  max-width: 350px;
  height: 100vh;
  min-height: 400px;
  overflow-y: scroll;
}
.onhideMessages {
  width: 0;
  height: 100vh;
  min-height: 400px;
  overflow-y: scroll;
}

.dark input {
  color: #ffe1d0;
}

.dark input::-webkit-input-placeholder {
  color: #ffe1d0a2;
}

.dark input::-moz-placeholder {
  color: #ffe1d0a2;
}

.dark input:-ms-input-placeholder {
  color: #ffe1d0a2;
}

.dark input::-ms-input-placeholder {
  color: #ffe1d0a2;
}

.dark input::placeholder {
  color: #ffe1d0a2;
}
input::-webkit-input-placeholder {
  color: #aa6239ab;
}
input::-moz-placeholder {
  color: #aa6239ab;
}
input:-ms-input-placeholder {
  color: #aa6239ab;
}
input::-ms-input-placeholder {
  color: #aa6239ab;
}
input::placeholder {
  color: #aa6239ab;
}

.checkbox input[type="checkbox"] {
  appearance: none;
}
.box {
  background-color: #f0af8a;
  border: 2px solid #aa6239;
}
.checkbox input[type="checkbox"]:checked ~ .box {
  background-color: #1e0b00;
}
.check-container {
  position: relative;
  background-color: #f0af8a;
  width: 34px;
  height: 15px;
  border: 2px solid #aa6239;
}
.check {
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
}
.check-on {
  right: 0;
  background-color: #1e0b00;
}
.check-off {
  background-color: #ffe1d0;
  border: 1px solid #1e0b00;
  left: 0;
}
.messages--container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content);
}
@media only screen and (min-width: 640px) {
  .messages--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
  }
}
@media only screen and (min-width: 1024px) {
  .messages--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
  }
}
@media only screen and (min-width: 1280px) {
  .messages--container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
  }
}
